*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* Mobile screen size */
  @media (min-width: 375px){
  
    body{
      background-color: rgba(24, 24, 28, 1);
      color: white;
      
    }
  }