.cover-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/error-img.svg");
    background-repeat: no-repeat;
    width: 100%;
    
}

.text-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 39rem;
    margin-top: 0rem;
}

.text-404 h1{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 16px;
}

.text-404 p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 20rem;
}

.go-back-btn-404{
    font-size: 18px;
    font-weight: 700;
    width: 344px;
    height: 55px;
    border-radius: 8px;
    border: none;
    background-color: rgba(1, 174, 193, 1);
    color: white;
    
}

.error-page-btn-link-style{
    font-size: 18px;
    font-weight: 700;
    width: 344px;
    height: 55px;
    border-radius: 8px;
    border: none;
    background-color: rgba(1, 174, 193, 1);
    color: white;
    position: fixed;
    margin: 21rem 0rem 0rem 0rem;
}