.create-list-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-name{
    margin-top: 1rem;
    font-size: 18px;
    width: 20rem;
    height: 3rem;
    padding: 16px;
}

.list-description{
    margin-top: 1rem;
    font-size: 18px;
    width: 20rem;
    height:10rem;
    padding: 8px 16px 8px 16px;
}

.createlist-visibility{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 0rem 2rem;
}

.createlist-visibility-status{
    display: flex;
    flex-direction: row;
}

.createlist-visibility-status p{
    margin-right: 0.5rem;
}

