.default-lists-container-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 0rem 2rem;
    margin-top: 0rem;
}


/* Row 1 */
.default-lists-container-row-1{
    display: flex;
    flex-direction: row;
}

/* To Watch container */

/* To Watch Link tag style*/
.to-watch-link-style{
   text-decoration: none;
   color: white;
   width: 13rem;
   height: 6rem;
   background-color: rgb(71, 71, 77);
   border-radius: 6px;
}

.to-watch-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.9rem;
    padding: 0.5rem;
    font-size: 14px;
}

.to-watch-h3{
    align-items: left;
}

.to-watch-status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.to-watch-status p{
    margin-right: 3px;
}

/* Seen container */
.seen-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
    margin-left: 0.5rem;
}

.seen-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.9rem;
    padding: 0.5rem;
    font-size: 14px;
}

.seen-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
}

.seen-h3{
    align-items: left;
}

.seen-status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seen-status p{
    margin-right: 3px;
}

/* Row 2 */
.default-lists-container-row-2{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

/* Watching container */

.watching-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.9rem;
    padding: 0.5rem;
    font-size: 14px;
}

.watching-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
}

.watching-h3{
    align-items: left;
}

.watching-status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.watching-status p{
    margin-right: 3px;
}

/* Favourites container */
.favourites-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
    margin-left: 0.5rem;
}

.favourites-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.9rem;
    padding: 0.5rem;
    font-size: 14px;
}

.favourites-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
}

.favourites-h3{
    align-items: left;
}

.favourites-status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favourites-status p{
    margin-right: 3px;
}

