.to-watch-header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: rgba(19, 19, 23, 1);
}

.to-watch-header-icons{
    font-size: 1.7rem;
}

.to-watch-search-icon{
    margin-right: 0.5rem;
}

.to-watch-header-arrow{
    font-size: 1.7rem;
}
