.home-header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: rgba(19, 19, 23, 1);
}

.home-header-row-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-row-1 img{
    width: 3rem;
    height: 3rem;
}

.home-page-title{
    font-size: 28px;
    margin-left: 0.5rem;
}

.home-header-row-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-bell-icon{
    font-size: 1.7rem;
}
