.list-page-header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: rgba(19, 19, 23, 1);
}

.list-page-header-arrow{
    color: white;
    font-size: 1.7rem;
    margin-top: 0.5rem;
}

.list-page-header-settings{
    font-size: 1.5rem;
}

.list-page-link{
    color: white;
}

/* Popup */
.popup-container{
    display: flex;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: rgba(48, 48, 54, 1);
    margin-top: 5rem;
}

.editlist-links{
    color: white;
    text-decoration: none;
}

.pop-up-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 16px 16px 24px 16px;
}

.pop-up-list li{
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.spacer{
    border: 1px solid white;
    width: 20rem;
    margin: 0.5rem 0rem 1.5rem 0rem ;
}

.popup-close-btn{
    margin-top: 9rem;
}