.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0rem 2rem;

}

.filter-options{
    display: flex;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgba(1, 174, 193, 1);
    border-radius: 8px;
    width: 2.5rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.general{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 8px;
    width: 5rem;
    height: 2rem;
    margin-right: 0.5rem;
}


.custom{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 8px;
    width: 5rem;
    height: 2rem;
}

.filter{
    font-size: 2rem;
    color: rgba(1, 174, 193, 1);
}