.my-lists-filter-wrapper{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem 1rem 2rem;
}

.my-lists-filter-all{
    width: 3rem;
    height: 2rem;
    background-color: rgba(1, 174, 193, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-lists-filter-general{
    width: 5rem;
    height: 2rem;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.my-lists-filter-custom{
    width: 5rem;
    height: 2rem;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.my-lists-filter-shared{
    width: 5rem;
    height: 2rem;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}