.stats-home-section-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stats-home-title{
color: rgba(1, 174, 193, 1);
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.pro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(1, 174, 193, 1);
    padding: 2px 8px;
}

