.to-watch-filter-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}

/* To Watch Filter row 1*/
.to-watch-filter-row1{
    display: flex;
    flex-direction: row;
}

.to-watch-filter-all{
    width: 3rem;
    height: 2rem;
    background-color: rgba(1, 174, 193, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-watch-filter-custom{
    width: 5rem;
    height: 2rem;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.to-watch-filter-shared{
    width: 5rem;
    height: 2rem;
    background-color: rgba(48, 48, 54, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}


/* To Watch Filter row 2*/

.to-watch-filter-icon{
    color: rgba(1, 174, 193, 1);
    font-size: 1.7rem;
}