.your-lists-container-wrapper{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: -3rem;
}


/* Row 1 */
.your-lists-container-row-1{
    display: flex;
    flex-direction: row;
}

/* First movie container */
.first-movie-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.9rem;
    padding: 0.5rem;
    font-size: 14px;
}

.first-movie-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
}

.first-movie-h3{
    align-items: left;
}

.first-movie-status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-movie-status p{
    margin-right: 3px;
}

/* Second movie container */
.second-movie-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
    margin-left: 0.5rem;
}

.second-movie-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.9rem;
    padding: 0.5rem;
    font-size: 14px;
}

.second-movie-container{
    width: 13rem;
    height: 6rem;
    background-color: rgb(71, 71, 77);
    border-radius: 6px;
}

.second-movie-h3{
    align-items: left;
}

.second-movie-status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-movie-status p{
    margin-right: 3px;
}
